<div class="eqLogic-widget eqLogic allowResize vmc" style="width: #width#;height: #height#;background-color: #background_color#; padding : 0px; #style#" data-eqLogic_id="#id#" data-version="dashboard" >
  <span class="statusCmd" style="position : absolute;right : 5px; width : 30px;z-index: 1030;"></span>
  <center><a href="#eqLink#" style="font-size : 1.2em;"></i> #name# </a></center>

  <div style="position: relative; height: 160px;">
      <div style="position: absolute; top: 60px; left: 22px;">
          <b>12.1</b>
      </div>
      <div style="position: absolute; top: 90px; left: 22px;">
          <b>18.2</b>
      </div>
      <div style="position: absolute; top: 90px; left: 110px;">
          <b>19.3</b>
      </div>
      <div style="position: absolute; top: 60px; left: 110px;">
          <b>10.4</b>
      </div>
      <div style="position: absolute; left: 10px;">
          <img src="plugins/vmc/core/template/dashboard/schema.png">
      </div>
  </div>
</div>

<script>
   
</script>
</div>
